[Unit]
Description=Start the sonar and GPS data logger

[Service]
Type=simple
ExecStart=/home/pi/venv/gps/bin/python /home/pi/rpi_sonar/main.py
Restart=on-failure

[Install]
WantedBy=default.target
